/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2017, 1:21:49 PM
    Author     : GAEA
*/

.thumbnail img{
    height: 150px
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.thumbnail .desc{
    color: #2ab27b;
}